* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.title {
  font-family: 'Helvetica Neue', sans-serif;
}

.about {
  font-weight: lighter;
  color: gray;
  font-family: 'Europa', sans-serif;
}
