body {
  margin: 0;
}

.skills {
  background-color: #ff4a57;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.skills-title {
  display: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  background-color: #f1f1f1;
  padding: 20px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 40%;
  margin-bottom: 10px;
}

.card p {
  font-family: 'Europa', sans-serif;
  font-size: 18px;
  color: #141c3a;
  line-height: 1.5;
  text-align: center;
}

.title {
  font-family: 'Helvetica Neue', sans-serif;
}

.about {
  font-weight: lighter;
  color: gray;
  font-family: 'Europa', sans-serif;
}

.card:not(:first-child) {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}
